<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="BasePath">./log</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%style{%date{DEFAULT}}{yellow}
                [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %logger{36} - %message\n" />
		</Console>
		<RollingFile name="File"
			fileName="${BasePath}/Automation.log"
			filePattern="${BasePath}/Automation-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout
				pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19000KB" />
			</Policies>
		</RollingFile>
	</Appenders>


	<Loggers>
		<Root level="Debug"><!--hear we can use multiple log level ALL<trace<Debug<Info<Warn<Error<fatal<Off-->
			<AppenderRef ref="File" /> <!-- here we have mention which type file/
			concole -->
			<!--AppenderRef ref="ConsoleAppender"/>-->
		</Root>
	</Loggers>

</Configuration>